@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/image.css);
@import url(./__caption/caption.css);

.lead {
  text-align: center;
  margin: auto;
  max-width: 984px;
  max-height: 1005px;
  margin-top: 56px;
}
