@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/image.css);
@import url(./__caption/caption.css);

.lead {
  padding: 56px 148px 0;
  text-align: center;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
      max-width: 928px;
      padding: 48px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
      max-width: 768px;
      padding: 48px auto 0;
  }
}
@media screen and (max-width: 320px) {
  .lead {
      max-width: 320px;
      padding: 48px 2px 0;
  }
}