@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-row/intro__list-row.css);
@import url(./__list-no-bold/intro__list-no-bold.css);

.intro {
    color: white;
    margin: 92px auto;
    display: flex;
    flex-direction: column;
    justify-items: start;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin: 92px 0 92px 48px;
    }
}
@media screen and (max-width: 1023px) {
    .intro {
        margin: 88px 24px;

    }
}
@media screen and (max-width: 767px) {
    .intro {
        margin: 64px 16px;
    }
}