.lead__subtitle {
    margin: 32px auto 0;
    max-height: 72px;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 640px;
        margin: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
        max-width: 640px;
        margin: auto;
    }
  }
  @media screen and (max-width: 320px) {
    .lead {
        max-width: 288px;
        margin: auto;
        font-size: 16px;
        line-height: 20px;
    }
  }